
*{
   margin:0px;
}

.titulo{

    font-size: 80px;
    color:white;
    font-family:Luckiest Guy;
    text-align: center;
    margin: 0.5cm;
}
.cuadrado img{

   width: 120px; 
   height: 120px;
   float: left; 
   margin-top: -3.20cm;
   
}
header{

   background-image: url("fondopizza1.jpg");
   background-position: center;
   padding: 3em;
   text-align: center;
   background-size: cover;
   height: 150px;
   background-color: rgba(0, 0, 0, 0.5);
   background-blend-mode: darken;
}
.contacto{
  
   text-align: right;
   position: relative;
   /*transform: translate(0px,-265px);*/
   float: right;
   margin-top: -3.8cm;
}

body{
   background-color:beige;
   background-color: rgba(0, 0, 0, 0.2);
   background-blend-mode: darken;
}

.publicidad{
   width: 300px; /* Ancho de la caja de publicidad */
   height: 800px; /* Altura de la caja */
   text-align: right;
   position: relative;
   /*transform: translate(1550px,120px);*/
   float: right;
   margin-top: 1cm;
   margin-right: 1cm;
}

.publicidad img{
   width: 300px;
   height: 800px;
}

/*----------------------------*/
.menu{
   display: flex;
   gap: 20px; /* Espacio entre cajas */
   flex-wrap: wrap; /* Para que bajen a otra línea si no entran */
   /*justify-content: left;*/
   margin-left: 100px;
   /*transform: translateY(-750px);*/
   flex-wrap: wrap;
   justify-content: flex-start;
   margin-left: 100px;
}

.pizzas:hover {
   transform: scale(1.05);
 }
 
.pizzas {
   background-color:gray;
   border-radius: 12px;
   width: 400px;
   text-align: center;
   padding: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* sombra suave */
   position: relative;
 }

 .pizzas img{
   width: 350px;
   height: auto;
   border-radius: 12px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* sombra suave */
 }

.pizzas p{
   font-family:luckiest guy;
   font-size: 30px;
   color:white;
}

/*---------- FOOTER ----------*/

footer{
   background-color: #333; /* Gris oscuro */
   color: #fff; /* Texto blanco */
   padding: 30px;
   justify-content: space-between;
   display: flex;
   align-items: center;
}

.politica img{
   width:300px;
   height:max-content;
}

.ubi img{
   width: 300px; 
   border-radius: 12px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* sombra suave */
   margin-top: 0cm;
}


